.page.theme_dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --big-title-color: #db00ff;
  --big-title-text-shadow-color: #ff0070;
  --big-title-footer-text-shadow-color: #ff0070;
  --main-color-text: #F1B2CE;
  --accent-color: #FF0070;
}

