/* Desktop first, light theme*/

.page {
  margin: auto;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  object-fit: cover;
  object-position: center;
  max-width: 1024px;
}

.tiled-image-layout {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* Шапка*/
.header {
  position: relative;
  min-height: var(--header-height);
  padding-inline-start: var(--side-margin);
  padding-inline-end: var(--side-margin);
}

.header__theme-menu {
  display: grid;
  align-items: start;
  justify-content: center;
  padding-block-start: var(--padding-bottom-menu);
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: var(--gap-menu-list);
}

.title {
  margin-block-start: var(--margin-top-title);
  margin-inline-start: calc(0px - var(--side-margin));
  font-family: var(--font);
  color: var(--big-title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--big-title-size);
  text-shadow: var(--big-title-header-shadow-size)
    var(--big-title-header-shadow-size) 0px var(--big-title-shadow-color);
  line-height: var(--big-title-line-height);
}

.header__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
  margin-block-start: var(--margin-top-description);
}

.description {
  max-width: var(--width-description);
  background-color: var(--accent-color);
  font-family: var(--font);
  font-weight: var(--font-weight-bold);
  font-size: var(--main-text-size);
  line-height: var(--medium-line-height);
  color: var(--description-text-color);
}

.decorated-zone::before {
  content: "";
  width: var(--decoration-side-size);
  height: var(--decoration-side-size);
  position: absolute;
  right: var(--offset-decoration);
  top: var(--offset-decoration);
  border-block-start: var(--decoration-side-width) solid var(--decoration-color);
  border-inline-end: var(--decoration-side-width) solid var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  width: var(--decoration-side-size);
  height: var(--decoration-side-size);
  position: absolute;
  left: var(--offset-decoration);
  bottom: var(--offset-decoration);
  border-block-end: var(--decoration-side-width) solid var(--decoration-color);
  border-inline-start: var(--decoration-side-width) solid
    var(--decoration-color);
}

.decorated-rec {
  display: var(--display-decoration-rec);
  position: absolute;
  top: var(--offset-decoration-rec-top);
  right: var(--offset-decoration-rec-right);
  font-family: var(--font);
  font-size: var(--main-text-size);
  color: var(--decoration-color);
  text-transform: uppercase;
}

.decorated-rec::after {
  content: "";
  display: var(--display-decoration-rec);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  min-width: 70px;
  min-height: 26px;
  border: none;
  background-color: transparent;
  color: var(--menu-color);
  font-size: var(--main-text-size);
  font-family: var(--font);
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-color-hover);
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
}

.header__theme-menu-button_active:hover {
  cursor: default;
  outline: 1px solid currentColor;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

/* Основной контент. Текстовые блоки*/
.main {
  margin-block-start: var(--gap-after-header);
  padding-inline-start: var(--side-margin);
  padding-inline-end: var(--side-margin);
}

.section-column-type {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--gap-between-title-and-list-answers);
}

.list-answers {
  display: grid;
  gap: var(--gap-between-list-elements);
}

.section-title {
  max-width: var(--width-title);
  font-family: var(--font);
  font-weight: var(--font-weight-bold);
  font-size: var(--main-text-size);
  line-height: var(--medium-line-height);
  color: var(--section-title-color);
  margin-block-end: var(--gap-between-section-title-and-answers);
}

.list__title-item {
  margin-block-end: var(--gap-between-title-item-and-description);
  font-family: var(--font);
  font-weight: var(--font-weight-bold);
  font-size: var(--main-text-size);
  line-height: var(--medium-line-height);
  color: var(--title-item-color);
  background-color: var(--accent-color);
}

.header-answer + .list-answers .list__title-item {
  font-weight: var(--font-weight-normal);
}

.list__description-item {
  font-family: var(--font);
  font-size: var(--main-text-size);
  line-height: var(--medium-line-height);
  color: var(--main-color-text);
}

.link-in-description-item {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.link-in-description-item:hover {
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

.link-in-description-item:focus,
.link-in-description-item:focus-visible {
  outline: 1px solid var(--main-color-text);
}

.content-section:not(:last-of-type) {
  margin-block-end: var(--gap-between-sections);
}

.header-answer {
  margin-block-end: 20px;
  font-family: var(--font);
  font-weight: var(--font-weight-bold);
  font-size: var(--main-text-size);
  line-height: var(--medium-line-height);
  color: var(--title-item-color);
  background-color: var(--accent-color);
}

.list-row-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Основной контент. Блок с изображениями*/
.picture-sunset {
  grid-area: sunset;
}

.picture-ice-cream {
  grid-area: ice-cream;
}
.picture-tape {
  grid-area: tape;
}
.picture-books {
  grid-area: books;
}
.picture-street {
  grid-area: street;
}

.pictures-answers {
  display: grid;
  max-height: 1048px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, 260px) minmax(100px, 315px) minmax(
      100px,
      428px
    );
  gap: 20px;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

/* Подвал*/
.footer {
  padding-inline-start: var(--side-margin);
  padding-inline-end: var(--side-margin);
  margin-block-start: var(--gap-before-footer);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: var(--footer-height);
}

.footer-title {
  font-family: var(--font);
  color: var(--big-title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--big-title-size);
  text-shadow: var(--big-title-footer-shadow-size)
    var(--big-title-footer-shadow-size) 0px var(--big-title-shadow-color);
  line-height: var(--big-title-line-height);
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    align-items: start;
    justify-content: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-menu-list);
  }

  .section-column-type {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-between-title-and-list-answers);
  }

  .list-row-type {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-between-title-and-list-answers);
  }

  .pictures-answers {
    display: grid;
    max-height: 780px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, 192px) minmax(100px, 230px) minmax(
        100px,
        318px
      );
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .footer-title {
    font-size: var(--big-title-size);
  }
}

@media (width < 768px) {
  .header__theme-menu {
    align-items: start;
    justify-content: end;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-menu-list);
  }

  .title {
    margin-inline-start: 0;
  }

  .section-column-type {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-between-title-and-list-answers);
  }

  .list-row-type {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-between-list-elements);
  }

  /*Основной контент. Блок с изображениями*/
  .pictures-answers {
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-height: min-content;
  }

  .section-pictures-type .header-answer {
    margin-block-end: 10px;
  }
}
